# Prevents any packages from being hoisted to the root node_modules.
# public-hoist-pattern[]=!*

# no: typesript
# public-hoist-pattern[]=!*typescript*
# no: ts-plugin
# public-hoist-pattern[]=!*ts-plugin*

# Disables the legacy hoisting behavior, ensuring dependencies remain in their respective package directories.
# shamefully-hoist=false

# Prefers workspace (monorepo) packages over external versions when resolving dependencies.
# prefer-workspace-packages=true
